<div
  class="invisible border absolute -bottom-0 translate-y-full translate-x-1/4 z-50 w-full flex flex-col bg-gray-100 text-gray-800 shadow-xl group-hover:visible rounded-b-md py-2 min-w-24 max-w-32"
>
  <a
    class="border-b border-gray-200 font-semibold text-gray-500 hover:text-black grid grid-cols-3 py-2"
    href="/profile"
  >
    <i class="fa-solid fa-user place-self-center"></i>
    <span class="col-span-2"> Profile</span>
  </a>
  <a
    class="border-b border-gray-200 font-semibold text-gray-500 hover:text-black grid grid-cols-3 py-2"
    href="/settings"
  >
    <i class="fa-solid fa-gear place-self-center"></i>
    <span class="col-span-2"> Settings</span>
  </a>
  <a
    class="font-semibold text-gray-500 hover:text-black grid grid-cols-3 py-2"
    href="/auth/logout"
  >
    <i class="fa-solid fa-arrow-right-from-bracket place-self-center"></i>
    <span class="col-span-2"> Get out</span>
  </a>
</div>
