<% if ( locals.errorFloat) { %>
<div
  id="error-box"
  class="text-red-600 w-56 md:text-2xl border self-center mt-4 mb-2 absolute z-50 bg-white left-2 top-2 -translate-x-[150%] transition-transform rounded-sm"
>
  <div
    class="rounded-xs flex items-center gap-4 px-1 break-words text-wrap w-56"
  >
    <i class="fa-solid fa-triangle-exclamation ml-1"></i>
    <div class="w-46 pr-2"><%= locals.errorFloat %></div>
  </div>
</div>
<script>
  const errorBox = document.getElementById("error-box");

  setTimeout(() => {
    errorBox.classList.remove("-translate-x-[150%]");
  }, 500);
  setTimeout(() => {
    errorBox.classList.add("-translate-x-[150%]");
  }, 2000);
</script>
<% } else if (locals.error) { %>
<div class="text-red-600 w-56 self-center mt-4 mb-2">
  <div
    class="border rounded-xs flex items-center gap-4 px-1 break-words text-wrap w-56"
  >
    <i class="fa-solid fa-triangle-exclamation ml-1"></i>
    <div class="w-46 pr-2"><%= locals.error %></div>
  </div>
</div>
<% } %>
