<footer
  class="w-full mt-auto opacity-75 text-black flex gap-4 justify-center items-center sm:p-1 rounded-t-lg"
>
  <a
    target="_blank"
    href="https://github.com/erenova"
    class="hover:text-gray-600 transition-colors"
  >
    <i class="fa-brands fa-square-github text-3xl"></i>
  </a>

  <a
    target="_blank"
    href="https://www.linkedin.com/in/erenova/"
    class="hover:text-blue-600 transition-colors"
  >
    <i class="fa-brands fa-linkedin text-3xl"></i>
  </a>
  <a
    target="_blank"
    href="mailto:erenova6@gmail.com"
    class="hover:text-black transition-colors"
  >
    <i class="fa-solid fa-envelope text-3xl"></i>
  </a>
  <span class="">erenova</span>
</footer>
