<footer
  class="w-full mt-auto bg-gray-800 text-white flex justify-center items-center sm:p-3 rounded-t-2xl sm:px-6 py-4 text-lg"
>
  <a
    target="_blank"
    href="https://github.com/erenova"
    class="mx-6 hover:text-gray-600 transition-colors"
  >
    <i class="fa-brands fa-square-github text-2xl sm:text-3xl"></i>
  </a>

  <a
    target="_blank"
    href="https://www.linkedin.com/in/erenova/"
    class="mx-6 hover:text-blue-600 transition-colors"
  >
    <i class="fa-brands fa-linkedin text-2xl sm:text-3xl"></i>
  </a>
  <a
    target="_blank"
    href="mailto:erenova6@gmail.com"
    class="flex gap-4 justify-center mx-6 hover:text-black transition-colors"
  >
    <i class="fa-solid fa-envelope text-2xl sm:text-3xl"></i>
    <span class="text-white">erenova</span>
  </a>
</footer>
