<meta charset="UTF-8" />
<meta name="google" content="notranslate" />

<meta meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title><%= locals.title || "Members-Only" %></title>
<link rel="stylesheet" href="/output.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<script
  src="https://kit.fontawesome.com/c92ddab15c.js"
  crossorigin="anonymous"
></script>
<script
  src="https://kit.fontawesome.com/c92ddab15c.js"
  crossorigin="anonymous"
></script>

<style>
  .text-shadow {
    text-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.4);
  }
</style>
