<div
  class="text-center mt-6 text-5xl text-shadow drop-shadow-lg font-bold animate-pulse select-none"
>
  <a <% if (locals.user) { %> href="/home" <% } %>>SECREFY</a>
</div>
<%- include('navbar') %>
