<% if (locals.success) { %>
<p
  class="text-emerald-600 relative flex justify-center items-center border w-[95%]"
>
  <i class="fa-solid fa-square-check absolute right-0.5 bottom-0.5"></i>
  <span class="px-2 py-1 text-sm pr-6"><%= locals.success %></span>
</p>
<% } %>
